<!DOCTYPE html>
<html>

<head>
    <title>items</title>
    <link rel="shortcut icon" href="https://avatars.githubitemcontent.com/u/77108292?v=4" type="image/x-icon">
    <style>
        body {
            margin-left: auto;
            margin-right: auto;
            font-family: 'Arial', sans-serif;
            padding-top: 52px;
            
        }

        .card-container {
            margin-left: 10%;
            margin-top: 5%;
        }

        

        .order-card {
            padding: 20px;
            width: 80%;
            margin-bottom: 20px;
            font-size: large;
        }

        h2 {
            margin-top: 0;
            font-size: larger;
        }

        .item-list {
            list-style-type: none;
            padding: 0;
        }
        
        .item{
            padding-bottom: 10px;
        }

        .itemt{display: inline-block;width:45%;}
        .itemp{width:22.9%;text-align: center; float: right; text-align: right;}
        .itemq{display: inline-block;width:23.9%;text-align: center; vertical-align: top;}
        
    </style>
    <script defer type="text/javascript" src="/static/cartsupport.js"></script>
</head>

<body>
    <div class="card-container">
            <%if(!opt){%><div class="order-card"><%}else{%><div class="order-card" style="font-size: xx-small;"><%}%>
                <h2>Order ID: <%= order._id %></h2>
                <% let x = (order.status == "pending") ? "blue" : "red" %>
                <p <% /* eslint-disable css-propertyvalueexpected */ %> style='color:<%= (order.status == "approved")?"green":x %>;'><b>Status:</b> <%= order.status %></p>
                <% let s  = order.date.toString();
                let parts = s.split(" ") %>
                <p><b>Ordered on:</b> <%= parts[1]+"-"+parts[2]+"-"+parts[3] %></p>
                <p><b>Email:</b> <%= order.email %></p>
                <h3>Items:</h3>
                <div class="item-list">
                    <% order.orderlist.forEach(item => { %>
                        <div class="item">
                            <div class="itemt"><%= item.title %></div>
                            <div class="itemq"><%= item.quantity %></div>
                            <div class="itemp"><%= item.price %>.00</div>
                        </div>
                    <% }); %>
                </div><hr>
                <div style="display: inline-block;width: 75%; font-weight: bold; padding: 7px 0px;"></b>Order Value:</b></div><div style="float: right; width: 25%;text-align: right;">$<%= order.cartvalue %>.00</div><hr>
            </div> 
    </div>
</body>

</html>